!!!
%html{:lang => 'en'}
	%head
		%title Sharepoint Reset Test File

		%link{:rel => "stylesheet", :href => "reset_sp.css"}/

		%link{:rel => "stylesheet", :href => "sp-core.css"}/

		:css
			body { font-family: times; }
			a { color: green !important; }
	%body.page
		.ms-WPBody
			%h1 hi
			%h2 hi
			%h3 hi
			%h4 hi
			%h5 hi
			%h6 hi

			%table
				%tr
					%th stuff
					%th stuff
				%tr
					%td stuff
					%td stuff
				%tr
					%td stuff
					%td stuff

			%blockquote hi!

			%p this is good stuff

			%a{:href => '//google.com'} stuff

